.button {
  display: inline-block;

  width: 200px;
  padding: 16px 0;

  text-align: center;
  // vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #fb565a;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button--slider {
  width: 240px;
}

.button--products {
  width: 160px;
}

.button--apps {
  background-color: #00ca74;
}

.button--presentation {
  background-color: #efc84a;
}

.button--contacts {
  width: 219px;
}

.button--form {
  width: 260px;

  color: #000000;
  background-color: #eeeeee;
}
