.contacts {
  position: relative;

  width: 1440px;
  height: 416px;
  margin: 0 auto;
}

.contacts::before {
  position: absolute;
  top: 21%;
  left: 57%;

  width: 231px;
  height: 190px;

  content: "";

  background-image: url("../img/map-marker.png");
}

.contacts__header {
  margin-top: 0;
  margin-bottom: 24px;

  text-transform: uppercase;

  color: #000000;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__block {
  position: absolute;
  top: 54px;
  left: 140px;

  width: 319px;
  height: 308px;
  padding: 50px;

  background-color: #ffffff;
}

.contacts__address,
.contacts__tel {
  color: #666666;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}

.contacts__tel {
  margin-bottom: 37px;
}
