.catalog-form__legend {
  line-height: 22px;
}

.input__list-item {
  position: relative;

  margin-top: 17px;
  padding-left: 36px;
}

.input__label {
  line-height: 20px;
}

input:focus + .input__label {
  outline-width: 5px;
  outline-style: auto;
  outline-color: #4d90fe;
  outline-offset: -2px;
}

.input__label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  content: "";

  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
}

.input__label:hover::before {
  opacity: 1;
}

input:disabled + .input__label {
  color: rgba(0, 0, 0, 0.3);
}

input:disabled + .input__label::before {
  opacity: 0.1;
}

.input__label--radio::before {
  background-image: url("../img/radio-off.svg");
}

.input__radio:checked + .input__label--radio::before {
  background-image: url("../img/radio-on.svg");
}

.input__label--checkbox::before {
  background-image: url("../img/checkbox-off.svg");
}

.input__checkbox:checked + .input__label--checkbox::before {
  background-image: url("../img/checkbox-on.svg");
}

.input__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
