.main-catalog__wrapper {
  display: flex;

  width: 1200px;
  margin: 0 auto;
  margin-top: 58px;
  padding: 0 20px;
}

.main-catalog__sort-wrapper {
  display: flex;
  flex-direction: column;

  margin-left: 140px;
}

.main-catalog__header-wrapper {
  padding: 79px 0 107px;
}
