.modal {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;

  display: none;

  width: 960px;
  height: 590px;
  margin-top: -295px;
  margin-left: -480px;
  padding: 67px 99px 85px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal__close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  cursor: pointer;

  opacity: 0.3;
  border: none;
  background-color: transparent;
  background-image: url("../img/close-cross.svg");

  font-size: 0;
}

.modal__close:hover,
.modal__close:focus {
  opacity: 1;
  outline: none;
}

.modal__close:active {
  opacity: 0.1;
}

.modal__header {
  margin: 0;

  color: #000000;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.modal__label {
  color: #000000;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.modal__text {
  width: 360px;
  height: 50px;
  margin-top: 9px;
  padding-right: 12px;
  padding-left: 12px;

  border: 2px solid #d7dcde;
}

.modal__text:hover,
.modal__textarea:hover {
  border-color: #b4b9bb;
}

.modal__letter {
  margin-top: 34px;
}

.modal__text:focus,
.modal__textarea:focus,
.modal__text:active,
.modal__textarea:active {
  color: #000000;
  border-color: #000000;
  outline: none;
}

.modal__textarea {
  width: 760px;
  height: 118px;
  margin-top: 9px;
  margin-bottom: 47px;
  padding: 12px;

  resize: none;

  border: 2px solid #d7dcde;
  background-color: #ffffff;
}

.modal__input-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 41px;
}

.modal__text-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__text::placeholder,
.modal__textarea::placeholder {
  color: rgba(68, 68, 68, 0.5);

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.modal__text:focus::placeholder,
.modal__textarea:focus::placeholder {
  color: #000000;
}

.modal__text--error,
.modal__textarea--error {
  color: #e74246;
  border: 2px solid #e74246;
}
