.modal {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;

  display: none;

  width: 960px;
  height: 590px;
  margin-top: -295px;
  margin-left: -480px;
  padding: 75px 100px 85px 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal__header {
  color: #000000;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.modal__label {
  color: #000000;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.modal__text {
  width: 360px;
  height: 50px;

  border: 2px solid #d7dcde;
  background-color: #ffffff;
}

.modal__textarea {
  width: 760px;
  height: 118px;

  resize: none;

  border: 2px solid #d7dcde;
  background-color: #ffffff;
}

.modal__input-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal__text-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__text::placeholder,
.modal__textarea::placeholder {
  opacity: 0.5;
  color: #444444;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
