.paginator {
  display: flex;

  margin: 0;
  margin-top: 26px;
  padding: 0;

  list-style: none;
}

.paginator__item {
  display: block;

  width: 50px;
  height: 50px;
  margin-right: 11px;
  padding-top: 19px;

  text-align: center;

  color: #000000;
  background-color: #eeeeee;

  font-weight: 500;
  line-height: 18px;
}

.paginator__item--current {
  outline: 3px solid #dbdbdb;
  outline-offset: -3px;
  background-color: #ffffff;
}

.paginator__item--next {
  min-width: 260px;

  text-transform: uppercase;
}
