.range-filter {
  box-sizing: content-box;
}

.range-filter__wrapper {
  width: 260px;
  margin-top: 53px;
}

.range-filter__controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 5px;
  background-color: #f1f1f1;
}

.range-filter__scale {
  height: 2px;

  background: #d7dcde;
}

.range-filter__bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-filter__toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-filter__toggle--min {
  left: 50px;
}

.range-filter__toggle--max {
  left: 110px;
}

.range-filter__price-controls {
  font-size: 0;
}

.range-filter__label {
  display: inline-block;

  width: 50%;

  vertical-align: middle;
  text-transform: uppercase;

  font-size: 16px;
}

.range-filter__input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  text-align: center;

  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-filter__label--max-price {
  text-align: right;
}
