.social__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 12px;
}

.social__link {
  position: relative;

  display: block;

  width: 79px;
  height: 79px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social__link:hover,
.social__link:focus {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
}


.social__icon {
  position: absolute;
  top: 32px;
  left: 27px;
}

.social__icon--fb {
  top: 28px;
  left: 34px;
}

.social__icon--insta {
  top: 29px;
  left: 28px;
}

.social__link:active .social__icon {
  opacity: 0.3;
}
