@import "./normalize.scss";
@import "./scaffolding.scss";
@import "./visually-hidden.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/page-main.scss";
@import "./blocks/slider.scss";
@import "./blocks/button.scss";
@import "./blocks/products.scss";
@import "./blocks/advantages.scss";
@import "./blocks/stats.scss";
@import "./blocks/clients.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social.scss";
@import "./blocks/modal.scss";
@import "./blocks/catalog-form.scss";
@import "./blocks/range-filter.scss";
@import "./blocks/catalog.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/input.scss";
@import "./blocks/catalog-sort.scss";
@import "./blocks/paginator.scss";
